.bonus-round {
  background-color: hsla(61, 68%, 67%, 0.9);
  border-radius: 50px;
  color: white;
  font-family: $bodyfont;
  opacity: .95;
  padding: 20px;
  position: absolute;
  right: 15%;
  text-align: center;
  top: 15%;
  width: 75%;
  z-index: 5;

  h4 {
    font-size: 3.5rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
  }

  h5 {
    font-size: 2rem;
    margin: 15px;
  }

  button {
    background-color: white;
    border-radius: 25px;
    font-family: $bodyfont;
    font-size: 2rem;
    margin: 15px;
    padding: 5px;
    width: 10rem;
    &:hover {
      animation: expand-font 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
  }
}

.popup {
  display: none;
}

.bonus-input {
  font-size: 1.8rem;
  height: 2.5rem;
  margin: 1rem;
  width: 3rem;
}

.bonus-vowel {
  background-color: $btn;
  border-radius: 15px;
  font-family: $bodyfont;
  font-size: 1.5rem;
  height: 2.5rem;
  margin: .5rem;
  padding: 5px;
  width: 2.5rem;
}

.bonus-submit {
  background-color: white;
  border-radius: 15px;
  font-family: $bodyfont;
  font-size: 1.5rem;
  height: 2.5rem;
  margin: .5rem;
  padding: 10px;
  &:hover {
    background-color: $btn;
  }
}