* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 2px solid $board;
  }
}

body {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
}

.new-game-btn {
  display: none;
  background-color: white;
  border: 3px solid transparent;
  border-radius: 25px;
  color: black;
  font-family: $bodyfont;
  font-size: 1.5rem;
  height: 2rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 9rem;
  &:hover {
    animation: expand-font 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    background-color: $btn;
  }
}

main {
  background-color: $board;
  min-height: 50vh;
  display: flex;
  position: relative;

  section {
    flex: 2;
    font-family: $bodyfont;
    position: relative;
    text-align: center;

    .category {
      font-size: $boardCategory;
      display: inline-block;
      height: 10%;
    }

    .word-box {
      height: 65%;
    }

    .bonus-prizes {
      color: $btn;
      display: none;
      h3 {
        font-size: 2rem;
      }
      span {
        font-size: 1.5rem;
        margin: 20px;
      }
      .bonus-prize {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .description {
      font-size: $boardDescription;
      height: 13%;
    }

    .spin-pop-up {
      bottom: 0;
      display: flex;
      font-family: $bodyfont;
      font-size: 2rem;
      height: 60px;
      justify-content: center;
      position: absolute;
      width: 100%;

      button, input {
        animation: bounce-right 0.8s both;
      }
        
      .check-btn {
        background-color: white;
        font-size: 1rem;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100px;
        display: none;
        &:hover {
          background-color: $btn;
        }
      }

      .ltr-input {
        border: 2px;
        border-radius: 20px 0 0 20px;
        display: none;
        font-size: 1.5rem;
        text-align: center;
        width: 4rem;
      }

      .input-solve {
        border: 2px;
        border-radius: 20px 0 0 20px;
        font-size: 1.5rem;
        text-align: center;
      }

      .final-solution-btn {
        border-radius: 0 20px 20px 0;
        background-color: $btn;
        font-size: 1rem;
        display: none;
        width: 100px;
      }

      .vowels-to-buy {
        padding: 0 5px;
        button {
          background-color: $board;
          border: 1px solid black;
          border-radius: 25px;
          font-family: $bodyfont;
          font-size: $boardDescription;
          height: 3rem;
          width: 5rem;
        }
      }

      .input-solve {
        display: none;
      }

      .vowels-to-buy {
        display: none;
      }
    }
    .feedback {
      display: block;
      font-size: 4rem;
      margin: 0 auto;
    }
    .gif {
      display: block;
      height: 300px;
      position: absolute;
      left: 25%;
      top: 30%;
      width: 450px;
    }
  }

  aside {
    flex: 1;
    max-width: 30%;
  }
}

.game-page {
  display: none;
}

.player-section {
  visibility: hidden;
}

.splash {
  color: white;
  font-family: $bodyfont;
  font-size: 2rem;
  text-align: center;
  width: 100vw;
  z-index: 15;

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 4rem;
  }

  .p1 {
    text-shadow: 3px 4px 2px $p1;
  }

  .p2 {
    text-shadow: 3px 4px 2px $p2;
  }

  .p3 {
    text-shadow: 3px 4px 2px $p3;
  }

  input {
    border-radius: 10px;
    font-size: 2rem;
    height: 3.5rem;
    padding-left: 5px;
    width: 15rem;
    &:focus {
      border: 5px solid $border;
    }
  }

  button {
    border: $btn;
    border-radius: 25px;
    font-family: $bodyfont;
    font-size: 2rem;
    height: 3rem;
    margin: 2rem;
    width: 15rem;
    &:hover {
      animation: expand-font 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      background-color: $btn;
    }
  }
}

.buy {
  width: 35%;
}