main aside {
  text-align: left;
  position: relative;

  div {
    display: flex;
    justify-content: center;

    button {
      background-color: white;
      border: 1px solid transparent;
      border-radius: 25px;
      white-space: nowrap;
      font-family: $bodyfont;
      font-size: 1.2rem;
      height: 60px;
      margin: 5px 10px;
      min-width: 25%;
      padding: 10px;
      &:hover {
        animation: expand-font 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        background-color: $btn;
        border: 1px solid $btn;
      }
    }
  }

  .possible-prizes {
    position: absolute;
    word-wrap: break-word;
    width: 20%;
    top: 0;
    right: 0;
    flex-direction: column;
    
    p {
      font-size: 2rem;
    }
    span {
      font-size: 1.5rem;
      padding: .2rem .5rem;
    }
  }
}

.wheel-img {
  width: 100%;
  padding: 20px 20px 20px 5px;
}

.prize-container {
  border: 1ps solid black;
  position: absolute;
  width: 95%;
  text-align: center;
  white-space: nowrap;
  top: 35%;
  text-align: center;
  font-family: $bodyfont;
  font-size: 3rem;
}

.prize-animation {
  animation: spin-prize;
  animation-duration: 4s;
}

.spin {  
  transition: 5s;
  transform: rotate(360deg);
}

.used-ltr-container {
  font-family: $bodyfont;
  font-size: 1.5rem;
}
